<div class="pcoded-main-container">
  <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content">
        <div class="page-header">
          <div class="page-block">
            <div class="row align-items-center">
              <div class="col-md-12">
                <div class="page-header-title">
                  <h5 class="m-b-10"><%= t "admin.authors.index.list_author" %></h5>
                </div>
                <ul class="breadcrumb">
                  <li class="breadcrumb-item">
                    <%= link_to admin_home_path do %>
                      <i class="feather icon-home"></i>
                    <% end %>
                  </li>
                  <li class="breadcrumb-item"><%= link_to t(".author"), admin_authors_path %></li>
                  <li class="breadcrumb-item"><%= t "admin.authors.index.list_author" %></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="main-body">
          <div class="page-wrapper">
            <div class="row">
              <div class="col-xl-12">
                <div class="card">
                  <div class="card-header">
                    <div class="box-button mt-2">
                      <% if can? :create, @authors %>
                        <%= link_to t("admin.authors.index.create_author"), new_admin_author_path,
                          class: "btn btn-icon btn-primary",
                          remote: true %>
                      <% end %>
                    </div>
                    <div class="row">
                      <div class="row">
                        <div class="col-sm-12">
                          <h4 class="text-center text-danger">
                          </h4>
                          <hr>
                        </div>
                      </div>
                      <%= search_form_for @authors_search, url: admin_authors_path, method: :get, remote: true do |f| %>
                        <div class="row no-wrap">
                          <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
                            <%= f.label t("admin.authors.index.name_desc_cont"), class:"form-label" %>
                            <%= f.search_field :name_desc_cont, class:"form-control", placeholder: t("enter_name_or_desc") %>
                          </div>
                          <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
                            <%= f.label t("gender"), class:"form-label" %>
                            <%= f.select :gender_eq, Author.genders, {include_blank: t("choose_gender")}, {:class => "form-select"} %>
                          </div>
                          <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
                            <%= f.label t("birthday"), class:"form-label" %>
                            <%= f.date_field :dob_cont, class:"form-control" %>
                          </div>
                          <div class="col-12 container-btn-search w-unset col-sm-12 col-md- col-lg- col-xl- col-xxl-2">
                            <div class="box-btn-search w-100">
                              <button type="submit" class="btn btn-danger w-100 search-author-p">
                                <i class="fas fa-search search-author"></i>
                                <span> <%= t "search" %></span>
                              </button>
                              <button class="btn btn-danger w-100">
                                <i class="fas fa-times"></i>
                                <%= link_to t("clear_search"), request.path, class:"cancel-button" %>
                              </button>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    </div>
                    <hr>
                  </div>
                  <div class="card-body table-border-style">
                    <div class="table-responsive">
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th style="width: 5%;">
                              STT
                            </th>
                            <th style="width: 20%;">
                              <%= t "name" %>
                            </th>
                            <th style="width: 20%;">
                              <%= t "image" %>
                            </th>
                            <th style="width: 9%;">
                              <%= t "gender" %>
                            </th>
                            <th style="width: 18%;">
                              <%= t "description" %>
                            </th>
                            <th style="width: 10%;">
                              <%= t "birthday" %>
                            </th>
                            <th style="width: 20%;">
                              <%= t "action" %>
                            </th>
                          </tr>
                        </thead>
                        <tbody id="contentTableAuthor">
                          <%= render @authors %>
                        </tbody>
                      </table>
                    </div>
                    <div id="pagyAuthor">
                      <%== pagy_nav @pagy %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "shares/modal" %>
